<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%= title %></title>
</head>
<body>
    <h1>TODO APP</h1>
    <form action="/create-task" method="POST">
        <label for="description">DESCRIPTION</label>
        <input type="text" placeholder="What do you need to do?" id="description" name="description" required>
        <label for="category">CATEGORY</label>
        <select id="category" name="category">
            <option value="personal" selected> Personal</option>
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="college">College</option>
            <option value="home">Home</option>
        </select>
        <label for="dueDate">DUE DATE</label>
        <input type="date" id="dueDate" name="dueDate" required>
        <button type="submit">ADD TASK</button>
    </form>
    <button>DELETE TASKS</button>       
    <ul>
        <ul>
            <% for(let i in tasks) { %>
                <li>
                    <div>
                        <input type="checkbox">
                        <%= tasks[i].description %>
                    </div>
                    <div>
                        <%= tasks[i].category %>
                    </div>
                    <div>
                        <%= tasks[i].dueDate %>
                    </div>
                </li>
            <% } %>
        </ul>
    </ul>
</body>
</html>